* {
	text-decoration: none;
}
.page-index {
	display: inline-block;
	position: relative;
	float: right;
	margin: 1px;
}
.index-details {
	list-style: none;
	display: inline;
	font-size: 24px;
	margin-right: 26px;
	float: right;
}

.index-details:hover {
	animation: indexDetails 1s;
	-moz-animation: indexDetails 1s;
	-webkit-animation: indexDetails 1s;
	-o-animation: indexDetails 1s;
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

@keyframes indexDetails
{
0%   {color: #000;text-decoration:underline;}
100% {color: #1022cc;text-decoration:underline;}
}

@-moz-keyframes indexDetails /* Firefox */
{
0%   {color: #000;text-decoration:underline;}
100% {color: #1022cc;text-decoration:underline;}
}


@-webkit-keyframes indexDetails /* Safari 和 Chrome */
{
0%   {color: #000;text-decoration:underline;}
100% {color: #1022cc;text-decoration:underline;}
}


@-o-keyframes indexDetails /* Opera */
{
0%   {color: #000;text-decoration:underline;}
100% {color: #1022cc;text-decoration:underline;}
}
